body{
	font-family: sans-serif;
}

#captcha{
	width: 200px;
	height: 48px;
	float: left;
	padding: 5px 20px;
	border: 1px solid #2980b9;
	margin-right: 10px;
	border-radius: 5px;
}
form input[type="submit"] {
	margin-top: 5px;
	padding: 5px 20px;
}
#newCaptcha{
	margin-left: 5px;
	width: 50px;
	height: 48px;
	padding: 5px 10px;
	border: 0px;
}
#message {
	color: #9b190a;
}